* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullpage {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
span[class$="txt"] {
    position: absolute;
    transform: translatex(-50%);
    left: 50%;
    font-size: 50px;
    font-weight: 900;
}
.uptxt {
    top: 75%;

}
.downtxt {
    top: 80%;
}
.contenty {
    color: yellow;
}
.contentg {
    color: green;
}